@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
/* @import url('https://fonts.gstatic.com'); */


body
{
  font-family: 'Roboto', sans-serif;
}




















/* .page-enter-active, .page-leave-active {
    position:absolute;
     max-width:725.328px; make sur our content keep it's original width 
    transition: all .5s ease;
  }


  .page-enter {
    left: -100%;
  }


  .page-enter-to {
    left: 0;
  }


  .page-leave {
    left: 0;
  }


  .page-leave-to {
    left: -100%;
  } */